*
{
  margin:0;
  padding: 0;
}
.nav
{ 
  background-color:#ddd;
  height:50px;
}
.nav>p
{
  font-size: 36px;
  color:black;
  padding-top:10px;
  padding-left: 20px; 
}
.nav>p>img
{
  height:40px;
  width:80px;
  padding-top::-20px;
  padding-right: 150px;
}
ul>li>a
{
  background-color:#ddd;
  display:block;
  padding:10px;
  height:100%;
  font-size: 30px;
  text-align: center;
  width:88%;
  height:100%;
  list-style:none;
}
ul>li>a:hover
{
  background-color:black;
  color:white;
}
ul
{
  list-style:none;
  margin:0;
  padding:0;
  position:fixed;
}
nav
{
  height:100px;
  width:100px;
  margin:0px;
}
nav>ul>li>a
{
  text-decoration: none;
  color:black;
}
.nav>img
{
  	margin-left: 1100px;
  	margin-top: -60px;
  	height: 60px;
  	width:60px;
}
.nav>#user
{
   margin-left: 1145px;
   margin-top: -50px;
   font-size: 16px;
}
.nav>a>#logout
{
  	margin-left: 1230px;
  	margin-top: -18px;
  	font-size: 16px;
	
}
.sectionbox
{
 border-style: solid;
  border-width: 0.1px;
    margin: -16px 50px 50px 269px;
  background-color: black;
  color:white;
}
section>form
{
  background-color: black;
  margin:-50px 150px 30px 206px;
color:white;
}
#loginpic
{
	margin:10px 0px 0px 90px;
}
form>select
{
	width:75%;
  margin:0px 0px 0px 150px
}
body
{
	 background-image: url('../images/back.jpg');
  background-repeat: no-repeat;
   height:100%;
   width:100%;
   background-size: cover;
}
#book
{
width:100%;
}

form>table>label
{
  display: inline;
  /*padding: 12px 12px 12px 0;*/
  width: 25%;
  margin:10px 0px 0px 10px;
}
#logout
{
   border-style: solid;
  border-width: 0.1px;
  margin:-25px 78px 0px 1410px;
  color: red;
  text-decoration: none;
  border-color: #ddd;
}
a<#logout
{
  text-decoration: none;
}
